@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffba76;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5vh;
  width: 50rem;
  height: 12rem;

  background: #c65102;
  border: solid 0.7rem #fff;
  border-radius: 2.5rem;

  color: #fff;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

main {
  margin-top: 8vh;
  display: flex;

  justify-content: space-evenly;

  font-size: 3rem;
  font-weight: 500;

  height: 60rem;
  width: 100%;
}

.window {
  width: 30rem;

  border: solid 0.7rem #fff;
  border-radius: 3rem;
}

.information {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.status-game {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10rem;

  background: #54855b;
  color: #fff;
}

.score {
  display: flex;
  flex-direction: column;

  height: 20rem;

  background: #d1c7c7;

  border: solid 0.7rem #fff;
  border-radius: 3rem;
}

h2 {
  text-align: center;
}

.score-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;

  background-color: #fff;

  border-radius: 0 0 2rem 2rem;
  height: 100%;
}

.label-x,
.score-x {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a8c5ff;
}

.score-x {
  border-radius: 0 0 0 2.5rem;
}

.score-o {
  border-radius: 0 0 2.5rem 0;
}

.label-o,
.score-o {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  background: #bb2828;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-gap: 4rem;
  width: 60rem;
  height: 60rem;
  padding: 4rem;

  background: #97d6ca;

  border: solid 0.7rem #fff;
  border-radius: 3rem;
}

.field {
  background: #7eb5ab;
  font-size: 0rem;

  cursor: pointer;
}

.field img {
  width: 100%;
  height: auto;
}

.reset {
  height: 10rem;
  font-size: inherit;
  font-weight: 700;

  background: #ff7373;

  border: solid 0.7rem #fff;
  border-radius: 3rem;

  cursor: pointer;
  outline: none;

  transition: all 1;
}

.reset:hover {
  color: #fff;
  background-color: #8f4343;
}

@media only screen and (max-width: 1220px) {
  header {
    width: 30%;
  }

  h1 {
    font-size: 4.5rem;
  }

  .window {
    width: 20rem;
  }

  main {
    height: 50rem;
    font-size: 2.3rem;
  }

  .board {
    height: 50rem;
    width: 50rem;
  }
}

@media only screen and (max-width: 920px) {
  header {
    width: 50%;
  }

  main {
    flex-direction: column;
    align-items: center;

    justify-content: space-evenly;
    height: 100%;
  }

  .information {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .score {
    width: 40%;
    min-width: 20rem;
  }

  .status-game {
    width: 40%;
    min-width: 19rem;
  }

  .board {
    margin: 5vh 0 5vh 0;
    width: 90%;
    height: 90%;
  }
}

@media only screen and (max-width: 500px) {
  header {
    width: 75%;
  }

  h1 {
    font-size: 3.5rem;
  }

  main {
    font-size: 2rem;
  }

  .window {
    border: solid 0.4rem #fff;
    height: 7rem;
  }

  .score {
    height: 12rem;
  }

  .score-table {
    grid-gap: 0.2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .board {
    grid-gap: 2rem;
    padding: 2rem;
  }
  .reset {
    width: 14rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 400px) {
  .information {
    flex-direction: column;
    height: 24rem;
  }

  .board {
    margin-top: 1vh;
  }
}
