@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fe349c;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5vh;
  width: 50rem;
  height: 12rem;

  background: #fe9ace;
  border: solid 0.7rem #f9ecf6;
  border-radius: 2.5rem;

  text-align: center;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
}

main {
  margin: 8vh 0 5vh 0;
  display: flex;

  justify-content: space-evenly;

  font-size: 3rem;
  font-weight: 500;

  height: 60rem;
  width: 100%;
}

.window {
  width: 30rem;

  border: solid 0.7rem #f9ecf6;
  border-radius: 3rem;
}

.information {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.status-game {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10rem;

  background: #ffab0f;
  color: #3d2929;
  font-weight: 700;
}

.score {
  display: flex;
  flex-direction: column;

  height: 20rem;

  background: #fe9ace;

  border: solid 0.7rem #f9ecf6;
  border-radius: 3rem;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  color: #7e0118;
  padding: 1rem;
}

.score-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;

  background-color: #f9ecf6;

  border-radius: 0 0 2rem 2rem;
  height: 100%;
  font-weight: 900;
}

.label-x,
.score-x {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #eeee2d;
}

.score-x {
  border-radius: 0 0 0 2.5rem;
}

.score-o {
  border-radius: 0 0 2.5rem 0;
}

.label-o,
.score-o {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  background: #d63d3d;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-gap: 3.5rem;
  width: 60rem;
  height: 60rem;
  padding: 4rem;

  background: #247afd;

  border: solid 0.7rem #f9ecf6;
  border-radius: 3rem;
}

.field {
  background: #81b2fe;
  font-size: 0rem;

  cursor: pointer;
}

.field img {
  width: 100%;
  height: auto;
  opacity: 0;

  transition: all 300ms;
}

.reset {
  height: 6rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #c1450b;

  background: #e6cb99;

  border: solid 0.7rem #f9ecf6;
  border-radius: 3rem;

  cursor: pointer;
  outline: none;

  transition: all 1;
}

.reset:hover {
  color: #fff;
  background-color: #cc9633;
}

@media only screen and (max-width: 1220px) {
  header {
    width: 30%;
  }

  h1 {
    font-size: 4.5rem;
  }

  .window {
    width: 20vw;
  }

  main {
    height: 50rem;
    font-size: 2.5rem;
  }

  .board {
    height: 50rem;
    width: 50rem;
  }
}

@media only screen and (max-width: 920px) {
  header {
    width: 50%;
  }

  main {
    flex-direction: column;
    align-items: center;

    justify-content: space-evenly;
    height: 100%;
  }

  .information {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .score {
    width: 40%;
    min-width: 20rem;
  }

  .status-game {
    width: 40%;
    min-width: 19rem;
  }

  .board {
    margin: 5vh 0 5vh 0;
    width: 90vw;
    height: 90vw;
  }
}

@media only screen and (max-width: 500px) {
  header {
    width: 75%;
    height: 8rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  main {
    font-size: 2rem;
  }

  .window {
    border: solid 0.4rem #fff;
    height: 7rem;
  }

  .score {
    height: 12rem;
  }

  .score-table {
    grid-gap: 0.2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .board {
    grid-gap: 2.5rem;
    padding: 2rem;
  }
  .reset {
    width: 14rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }

  .information {
    flex-direction: column;
    height: 24rem;
  }

  .board {
    margin-top: 1vh;
  }
}
